<p>
  <b>Items:</b>
  <table>
  <tr>
    <th>Category</th>
    <th>Name</th>
    <th>Price</th>
  </tr>

<% for item in @cart.items %>
  <tr id="item-<%= item.id %>">
    <td><%= link_to item.category.name, item.category %></td>
    <td><%= link_to item.name, item %></td>
    <td><%= number_to_currency(item.price) %></td>
	<td><%= link_to_remote 'Remove From Cart', :url => {:controller => 'items', :action => 'remove_from_cart', :id => item.id}%>
  </tr>
<% end %>
</table>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
