<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<% unless @category.parent_id.nil? %>
	<p>
		<b>Parent Category</b>
		<%= link_to @category.parent_category.name, @category.parent_category %>
	</p>
<% end %>

<p>
  <b>Description:</b>
  <%=h @category.description %>
</p>
<br />
Items
<table>
	<tr>
		<th>Item</th>
		<th>Price</th>
	</tr>
	<% @category.items.each do |item| %>
	<tr>
		<td><%= item.name %></td>
		<td><%= number_to_currency(item.price) %></td>
		<td><%= link_to_remote 'Add To Cart', :url => {:controller => 'items', :action => 'add_to_cart', :id => item.id}%></td>
	</tr>
	<% end %>
</table>
<br />
SubCategories
<table>
	<tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
	<% for subcategory in @category.sub_categories %>
	  <tr>
	    <td><%=link_to subcategory.name, subcategory %></td>
	    <td><%= subcategory.description %></td>
	    <td><%= link_to 'Destroy', subcategory, :confirm => 'Are you sure?', :method => :delete %></td>
	  </tr>
	<% end %>
</table>
<%= link_to 'New SubCategory', new_category_path({:parent_id => @category.id})%>
<br />

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
